<!DOCTYPE html>
<html>
<head>
    <title>{{ pokemon.name|capfirst }}</title>
</head>
<body>
    <h1>{{ pokemon.name|capfirst }} (#{{ pokemon.id }})</h1>
    <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
    <p>Height: {{ pokemon.height }} m</p>
    <p>Weight: {{ pokemon.weight }} kg</p>

    <h2>Types</h2>
    <ul>
        {% for type in pokemon.types %}
            <li>{{ type.name|capfirst }}</li>
        {% endfor %}
    </ul>

    <h2>Abilities</h2>
    <ul>
        {% for ability in pokemon.abilities %}
            <li>{{ ability.name|capfirst }}</li>
        {% endfor %}
    </ul>

    <h2>Stats</h2>
    <ul>
        {% for stat in pokemon.stats %}
            <li>{{ stat.name|capfirst }}: {{ stat.base_stat }}</li>
        {% endfor %}
    </ul>

</body>
</html>
